body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #5fabdd;
    color: #000000;
    width: 97.5%;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.938);
    position: fixed; /* Fixed position */
    top: 0; /* Position at the top */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    z-index: 1000; /* Ensure it stays above other elements */
}

main {
    margin-top: 175px;
    margin-bottom: 5px;
    background-color: #fffff9f3;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 95%;
    color: #000;
    margin: 0 auto; /* This centers the element horizontally */
}

main h3 {
    text-align: center;
    margin-bottom: 150px auto;
    margin-top: 150px;


}

main p {
    text-align: center;
    margin: 5px auto;
}
